{% extends 'base.html' %}
{% block content %}

<h1>Hi {{cafe.cafe_name}}</h1>

<div class="card">
    <a href="">
        <div class="card-content">
            <span class="card-title">Edit Cafe Details</span>
        </div>
    </a>
</div>

<div class="card">
    <a href="{% url 'coffee_bean_edit' cafe.id%}">
        <div class="card-content">
            <span class="card-title">Edit Coffee Beans</span>
        </div>
    </a>
</div> 

<div class="card">
    <a href="">
        <div class="card-content">
            <span class="card-title">Edit Events</span>
        </div>
    </a>
</div>

<div class="card">
    <a href="">
        <div class="card-content">
            <span class="card-title">Edit Brewing Methods</span>
        </div>
    </a>
</div>
{% endblock %}