{% extends 'base.html' %}
{% block content %}

<h1>Brewing Methods at {{ cafe.cafe_name }}</h1>
<div>
    <img src="../../../../static/uploads/Screenshot 2022-10-06 at 21.36.55.png" width="500px" />
</div>
<div>
    <form method="post" action="{% url 'add_brewing_method' cafe.id %}" enctype="multipart/form-data">
      {% csrf_token %} 
      {{ brewing_method_form.as_p }}
      <input type="submit" value="Add Brewing Method" class="btn" />
    </form>
  </div>
  
  <div>
    <table class="striped">
      <thead>
        <tr>
          <th>Brewing Method </th>
          <th>Bio</th>
        </tr>
      </thead>
  {{ cafe }}
      <tbody>
        {% for brewing_method in cafe.brewingmethod_set.all %} 
        <tr>
          <td>{{ brewing_method.get_method_name_display }}</td>
          <td>{{ brewing_method.method_bio }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <script>
    let selectEl = document.getElementById('id_method_name')
    M.FormSelect.init(selectEl);
  </script>


{% endblock %}