{% extends 'base.html' %}
{% block content %}

<h1>Coffee Beans Served at {{ cafe.cafe_name }}</h1>


{% for coffee_bean in coffee_beans %}

<div class="card">
    <a href="{% url 'coffee_beans_detail' coffee_bean.id %}">
        <div class="card-content coffee-beans">

            <div class="img-container coffee-bean-image">
                {% load static %}
                <img src="{% static 'uploads/'%}{{coffee_bean.image}}" alt="My image" width="200" height="200">
            </div>
            
            <div class="coffee-bean-details">
                <span class="card-title"> {{ coffee_bean.name }}</span>
                <p>Roastery: {{ coffee_bean.roastery }}</p> 
                <p>Variety: {{ coffee_bean.variety }}</p>
                <p>Description: {{ coffee_bean.description }}</p> 
            </div>
        </div>

            <div class="card-action">
                <a href="">Edit</a>
                <a href="">Delete</a>
            </div> 
    </a>
</div>
{% endfor %}

<h2>Want to add more coffee beans? </h2>

{% endblock %}