{% extends 'base.html' %}
{%load crispy_forms_tags %} 
{% block content %}

<div class="title">Events at {{ cafe.cafe_name }}</div>

<br/>
{% for event in cafe.event_set.all %} 

<div class="card">
        <div class="card-content event">

            <div class="img-container event-image">
                {% load static %}
                <img width="150px" height="150px" src={% static event.event_image|cut:'main_app/static/' %} />
            </div>
            
            <div class="coffee-bean-details">
                <span class="card-title"> {{ event.event_name }}</span>
                <p>Description: {{ event.description }}</p> 
                <p>Event Category:{{ event.get_event_type_display }}</p>
                <p>Date: {{ event.event_date }}</p> 
                <p>Time: {{ event.time_from }} till {{ event.time_to }}</p>
            </div>
        </div>

            <div class="card-action">
                <a href="">Edit</a>
                <a href="">Delete</a>
            </div> 
    </a>
</div>
{% endfor %}
<br/>
<div class="sub-title">Want to add more events?</div>
<div>
    <form class="form form-control" method="post" action="{% url 'add_event' cafe.id %}" enctype="multipart/form-data">
      {% csrf_token %} 
      {{ event_form |crispy }}
      <br/>
      <input type="submit" value="Add Event" class="btn" />
    </form>
  </div>
  
  
  
  <script>
  let dateEl = document.getElementById("id_event_date");
  M.Datepicker.init(dateEl, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  });
  
  let timeEl = document.getElementById('id_event_time_from');
  M.Timepicker.init(timeEl, {
    twelveHour: false
    });
    
    let timeToEl = document.getElementById('id_event_time_to');
    M.Timepicker.init(timeToEl, {
        twelveHour: false
    })

    let selectEl = document.getElementById('id_event_type')
    M.FormSelect.init(selectEl);
  </script>


{% endblock %}