{% extends 'base.html' %}
{% block content %}

<div class="card">
        <div class="card-content coffee-beans">

            <div class="img-container coffee-bean-image">
                {% load static %}
                <img src="{% static 'uploads/'%}{{coffee_bean.image}}" alt="My image" width="200" height="200">
            </div>
            
            <div class="coffee-bean-details">
                <span class="card-title"> {{ cafe.cafe_name }}</span>
                <p>Roastery: {{ coffee_bean.roastery }}</p> 
                <p>Variety: {{ coffee_bean.variety }}</p>
                <p>Description: {{ coffee_bean.description }}</p> 
                <p>Date harvested: {{ coffee_bean.date_harvested }}</p> 
                <p>Bean Location: {{ coffee_bean.location }}</p> 
            </div>

        </div>
</div>

<h4>Cafes Serving this Coffee Bean</h4>

<div class="col s6">
    {% if cafes.count %}

    {% for cafe in cafes.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ cafe.cafe_name }} </span>
                    <p>{{ cafe.cafe_bio }}</p> 
                    <br>
                    <p>{{ cafe.address_line_1}}</p>
                    <p>Description: {{ cafe.address_city}}</p> 
                    <p>Date harvested: {{ cafe.address_postcode }}</p> 
                    <a href="{{cafe.cafe_website}}">Website</a> 
            </div>
        </div>
        {% endfor %}

        {% else %}
        <h5>already has all cafes available.</h5>
        {% endif %}
</div>

</div>



{% endblock %}