{% extends 'base.html' %}
{% block content %}

<div class="container-c">

    <div class="left-c">
        <h4>{{ coffee_bean.roastery }} - {{coffee_bean.name}}</h4>
      <div class="card">
        <div class="card-image">
            {% load static %}
            <img src="{% static 'uploads/'%}{{coffee_bean.image}}" alt="My image" height="300" width="auto" class="cb-image">
        </div>
        <div class="card-content">
            <p>{{ coffee_bean.description }}</p> 
            <hr>
            <p>{{ coffee_bean.variety }}</p>
            <hr>
            <p>{{ coffee_bean.location }}</p> 
        </div>
      </div>
    </div>  

    <div class="right-c">
        <h5>Cafes Serving this Coffee Bean</h5>
        {% if cafes.count %}
            {% for cafe in cafes.all %}
                <div class="card">
                    <div class="card-content-c">
                        <div>
                            {% load static %} 
                        <img width="100px" src={% static cafe.cafe_image|cut:'main_app/static/' %} /><br>
                        <span class="card-title">{{ cafe.cafe_name }} <br> {{ cafe.address_city}}</span>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="/cafes/{{ cafe.id }}">Details</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5><em>There are no cafe's serving this coffee bean</em></h5>
        {% endif %}
    </div>
</div>

{% endblock %}