{% extends 'base.html'%}
{% block content %}
<header><h1 class="fancy-font">Coffee Beans</h1></header>

<div class="main-cb">
    <aside class="row">
        <div class="col">
            <div class="card card-body filter">
                <h6>Filters</h6>
                <form method="get" action="">
                    {{coffee_bean_filter.form.as_p}}
                    <button class="btn" type="submit">Search</button>
                </form>
            </div>
        </div>
    </aside>

    <div class="container-cb">
        <div class="row">
            {% for coffee_bean in coffee_beans %}
            <div class="col s4">
                <div class="card card-cb">
                    <a href="{% url 'coffee_beans_detail' coffee_bean.id %}">
                        <span class="card-title-cb">{{ coffee_bean.name }}</span>
                        <div class="img-container coffee-bean-image">
                            {% load static %}
                            <img src="{% static 'uploads/'%}{{coffee_bean.image}}" alt="My image" width="100" height="100">
                        </div>
                        <div class="card-content-cb">
                            <h6>{{ coffee_bean.roastery }}</h6>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<script>

    let varietyEl = document.getElementById('id_variety');
    M.FormSelect.init(varietyEl);

    let roasteryEl = document.getElementById('id_roastery');
    M.FormSelect.init(roasteryEl);
</script>
{% endblock %}