{% extends 'base.html'%} 
{% block content %}
<h1 class="fancy-font">fitCoffee</h1>
<img src="../static/uploads/about (1).jpg" width="500px" />
<p class="about">
  fitCoffee is an app built by coffee lovers for coffee lovers.
</p>
<p class="about">
  The fitCoffee app catalogues thousands of coffee shops across dozens of
  countries. You can review, search ratings, find your favourite brewing
  methods, filter on your favourite roasteries and much more!
</p>
<p class="about">
  <b>Wherever you are in the world, use fitCoffee for a decent brew.</b>
</p>
{% endblock%}
