{% extends 'base.html'%}
{% block content %}
<div class="home-title">fitCoffee<br><span><h2>The App for Coffee Lovers.</h2></span></div>
<div class="home-banner">
<img src="../static/uploads/Drip Brewed.png" width="100px" />
<img src="../static/uploads/Coffee Maker.png" width="100px" />
<img src="../static/uploads/French Press.png" width="100px" />
<img src="../static/uploads/Chezve.png" width="100px" />
<img src="../static/uploads/Syphon.png" width="100px" />
<img src="../static/uploads/Aeropress.png" width="100px" />
<br/>
<br/>
<br/>
<h5>The fitCoffee app catalogues thousands of coffee shops across the UK. You can review, search ratings, find your favourite brewing methods, filter on your favourite roasteries and much more!</h5>
<br/>
<h5><b>Wherever you are, use fitCoffee to find a decent brew.</b></h5>
</div>
{% endblock%} 
