{% extends 'base.html'%}
{% block content %}
<div class="container">
<div class="home-banner">
<div class="home-title">fitCoffee</div>
<h5>The fitCoffee app catalogues thousands of coffee shops across the UK. You can review, search ratings, find your favourite brewing methods, filter on your favourite roasteries and much more!</h5>
</br>
<img src="../static/uploads/coffee-beans.png" width="40px" />
</br>
</br>
<p>Wherever you are, use fitCoffee to find a decent brew.</p>
</div>
</div>
{% endblock%} 
