body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
  }

  .hero {
    margin-top: 60px;
  }

  .fancy-font {
    font-family: 'Dancing Script', cursive;
  }

  .explore {
    margin: 20px auto;
    width: 80px;
    padding: 10px;
  }

  main {
    flex: 1 0 auto;
  }
  a { color:black 
  }

  a:hover {
    background: rgb(45, 45, 45);
    color:rgb(255, 255, 255);
}

  .card-content-cb,.card-content-cc {
    color: black !important;
  }


.left-c {
    margin-right: 20px;
    width: 600px;
  }

.right-cafe-brew {
    margin-top: 40px;
  }


h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.rem 0 .912rem 0;
}

.container-c {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

.card-content-c {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.main-cb, .main-cc {
  display: flex;
  justify-content: center;
}

aside {
  margin: 0 auto;
  width: 200px;
}

.card-content-cb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.container-cafe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.card-cafe {
  width: 1000px;
}

.form {
  margin: 0 auto;
  width: 500px;
  padding: 20px;
}

.review-form {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}
/* ------------------------------ */

.filter {
  width: 180px;
  padding: 10px 20px;
  margin-right: 20px;
}
.container-cc,.container-cb {
  width: 1200px;
}

.card-cb, .card-cc {
  height: 340px;
  width: 280px;
}

.cafe-image, .coffee-bean-image {
  padding: 10px;
}


.footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 38px;
  margin: 0 40px;
  text-align: right;
}

.social {
  padding-top: 26px;
  margin: 10px 40px;
}

  footer.page-footer {
    padding-top: 0;
    text-align: right;
    background-color: black;
  }
  
.grid {
    width: 200px;
  }

nav {
  background-color: black;
}

.about {
  font-size: large;
}

.btn {
  background-color: #317b22;
}

.btn:hover {
  background-color: #2a4d14;
}

.a-footer {
  color: white;
}