{% extends 'base.html' %}
{%load crispy_forms_tags %} 
{% block content %}

{% if object %}
<div class="title">Edit <span class="teal-text">{{ object.name }}</span></div>
<br/>

<form action="" method="post">
    {% csrf_token %}

    <p><label for="{{ form.username.id_for_label }}">Name:</label>
        {{ form.username }}</p>
    <p><label for="{{ form.email.id_for_label }}">Address:</label>
        {{ form.email}}</p>
    

    <input type="submit" value="submit" class="btn">
</form>
{% endif %}
{% endblock %}