{% extends 'base.html' %}

{% block content %} 
<div class="container-cafe">
  <div class="card card-cafe left-cafe">
    <div class="card-content cafe">
      <h4>{{ cafe.cafe_name }}</h4>
      <div class="img-container cafe-image">
        {% load static %} 
        <img width="150px" height="150px" src={% static cafe.cafe_image|cut:'main_app/static/' %} />
      </div>

      <div class="cafe-details">
        <p>{{ cafe.cafe_bio }}</p>
        <br>
        <small>Address: {{ cafe.address_line_1 }} <br> 
        {{ cafe.address_city }}, <br>
        {{ cafe.address_county }}, <br>
        {{ cafe.address_country }}, <br>
        {{ cafe.address_postcode }}</small>
      </div>
    </div>
    <div class="card-action">
      <a href={{ cafe.cafe_webiste }}>Website</a>
    </div>
  </div>


  <div class="right-cafe">
    <h4>Leave a Review</h4>
  <form class="card review-form" method="post" action="{% url 'add_review' cafe.id %}">
      {% csrf_token %}
      {{ review_form.as_p }}
      <input type="submit" value="Add Review" class="btn"/>
  </form>

  <table class="striped">
      <thead>
          <tr>
              <th> Review Date </th>
              <th> Stars </th>
              <th> Review Title </th>
              <th> Review </th>
          </tr>
      </thead>
      <tbody>
          {% for review in cafe.reviews_set.all %}
          <tr>
              <td>{{ review.datetime }}</td>
              <td>{{ review.get_stars_display }}</td>
              <td>{{ review.review_title }}</td>
              <td>{{ review.review_body }}</td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
</div>

<script>

  let dateEl = document.getElementById('id_datetime');
  M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
  })

  let starsEl = document.getElementById('id_stars');
  M.FormSelect.init(starsEl);
</script>

{% endblock %}