{% extends 'base.html' %} 
{% load static %} 
{%load crispy_forms_tags %} 
{% block content %} 
<div class="container">
<div class="container">
<div>
  <div class="container-cafe">
    <div class="card-cafe">
      <div class="card-content cafe">
        <div class="title">{{ cafe.cafe_name }}</div>
        <div class="img-container cafe-image">
          <img src="{% static  'uploads/'%}{{cafe.cafe_image}}"
            alt="My image"
            height="100"/>
        </div>
        <div class="card-texxt">
          <p>{{ cafe.cafe_bio }}</p>
          <br/>
          <small>
            {{ cafe.address_line_1 }}, {{ cafe.address_city }}, {{ cafe.address_postcode }}</small>
        </div>
      </div>
      <div class="card-action">
        <a href="{{cafe.cafe_website }}">Website</a>
      </div>
    </div>

    <div class="img-container cafe-image">
      <img
        src="{% static  'uploads/'%}{{cafe.menu_image}}"
        alt="My image"
        width="320"
      />
    </div>
  </div>

  <hr/>

  <div class="container-cafe">
    <div class="cafe-beans">
      <div class="sub-title">Coffee Beans Served</div>
      {% if cafe.coffee_beans.count %}
      {% for coffee_bean in cafe.coffee_beans.all %}
      <div class="cafe-coffeebean-card">
          <div>
            <img
              src="{% static 'uploads/'%}{{coffee_bean.image}}"
              alt="My image"
              width="100" class="cafe-coffee-bean-image" />
            <span>
              {{ coffee_bean.name }} - {{ coffee_bean.roastery}}</span>
          </div>
      </div>
      {% endfor %} {% else %}
      <br />
      <p><em>No coffee beans listed.</em></p>
      {% endif %}
    </div>

    <div class="cafe-brew">
      <div class="sub-title">Brewing Methods</div>
      <div>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col"></th>
              <th scope="col">Method</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            {% for brewing_method in cafe.brewingmethod_set.all %}
            <tr>
              <td><img
                src="{% static 'uploads/'%}{{brewing_method.get_method_name_display}}.png"
                alt="My image"
                width="20"
              /></td>
              <td>{{ brewing_method.get_method_name_display }}</td>
              <td>{{ brewing_method.method_bio }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <hr/>
  <div class="activities">
    <div class="sub-title">Events</div>
    <div>
      {% if cafe.event_set.count %}
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">Event</th>
            <th scope="col">Description</th>
            <th scope="col">Date & Time</th>
          </tr>
        </thead>

        <tbody>
          {% for event in cafe.event_set.all %}
          <tr>
            <td><img
              src="{% static 'uploads/'%}{{event.event_image}}"
              alt="My image"
              height="40"
            /></td>
            <td>{{ event.event_name }}</td>
            <td>{{ event.description }}</td>
            <td>
              {{ event.event_date }}: {{ event.event_time_from }} - {{ event.event_time_to}}
            </td>
          </tr>
          {% endfor %} {% else %}
        </tbody>
      </table>
      <br />
      <p><em>No Events listed.</em></p>
      {% endif %}
    </div>
  </div>
  
  <hr/>
  <div class="container-cafe">
    <div class="review">
      <div class="sub-title">Leave a Review</div>
      <form
        class="review-form"
        method="post"
        action="{% url 'add_review' cafe.id %}"
      >
        {% csrf_token %} {{ review_form |crispy}}
        <br/>
        <input type="submit" value="Add Review" class="btn" />
      </form>
    </div>

    <div >
      <div class="sub-title">Reviews</div>
      {% if cafe.review_set.count %}
      <table  class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Stars</th>
            <th scope="col">Title</th>
            <th scope="col">Review</th>
          </tr>
        </thead>
        <tbody>
          {% for review in cafe.review_set.all %}
          <tr>
            <td>{{ review.datetime }}</td>
            <td>{{ review.get_stars_display }}</td>
            <td>{{ review.review_title }}</td>
            <td>{{ review.review_body }}</td>
            <td>Remove</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      {% else %}
      <p><em>No Reviews.</em></p>
      {% endif %}
    </div>
  </div>
</div>
</div>
{% endblock %}


{% block scripts %}
<script>
  let starsEl = document.getElementById("id_stars");
  M.FormSelect.init(starsEl);
</script>
{% endblock scripts %}
