{% extends 'base.html' %}
{% block content %} 
<header><h1 class="fancy-font"> Cafes </h1></header>

<div class="main-cc">
    <aside class="row">
        <div class="col">
            <div class="card card-body filter">
                <h6>Filters</h6>
                <form method="get" action="">
                    {{cafe_filter.form.as_p}}
                    <button class="btn" type="submit">Search</button>
                </form>
            </div>
        </div>
    </aside>

    <div class="container-cc">
        <div class="row">
            {% for cafe in cafes %} 
                <div class="col s4 ">
                    <div class="card card-cc">
                        <a href="/cafes/{{ cafe.id }}">
                            <span class="card-title-cc"> {{ cafe.cafe_name }}</span><br>
                            <div class="img-container cafe-image">
                                {% load static %} 
                                <img width="100px" height="100px" src={% static cafe.cafe_image|cut:'main_app/static/' %} />
                            </div>
                            <div class="card-content-cc">
                                <small> {{ cafe.address_city }}</small>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    let nameEl = document.getElementById('id_cafe_name');
    M.FormSelect.init(nameEl);

    let cityEl = document.getElementById('id_address_city');
    M.FormSelect.init(cityEl);
</script>

{% endblock %}